{% extends 'base.html' %}
{% block content %}
<h1>All Employee Attendance Details</h1><hr><br>
<table class="table table-hover bg-white">
    <thead>
      <tr>
        <th scope="col">User</th>
        <th scope="col">Date</th>
        <th scope="col">In Time </th>
        <th scope="col">Out Time</th>
        <th scope="col">Attendance</th>
        <th scope="col">Regularization</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>
        
      </tr>
    </thead>
    <tbody>
        {% for dt in data %}
        <tr>
            <td>{{dt.user}}</td>
            <td>{{dt.attendance_date}}</td>
            <td>{{dt.in_time}}</td>
            <td>{{dt.out_time}}</td>
            <td>{{dt.attendance}}</td>
            <td>{{dt.regularization_status}}</td>
            <td>{{dt.description}}</td>
            <td>
              <a href="{% url 'update_attendance' dt.id %}" class="btn btn-warning btn-sm">Edit</a>
            </td>
        </tr>
        {% endfor %} <br>
    </tbody>
  </table>
  <a href="{% url 'admin_dashboard' %}" class="btn btn-primary">Back</a> 
{% endblock content %}

